# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
?humbs.db

# Ignore node_modules
**/node_modules

# Ignore 'dist' folder, except .gitkeep
/dist
!.gitkeep

# Ignore cache folders
**/.cache
**/.sass-cache

# Ignore workspace files
**/*.code-workspace
**/*.sublime*